@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Regular.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Medium.ttf) format(truetype);
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Bold.ttf) format(truetype);
    font-weight: 600;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Black.ttf) format(truetype);
    font-weight: 800;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url(./fonts/Roboto/Roboto-LightItalic.ttf) format(truetype);
    font-weight: italic;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

p{
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
    margin: 0 0 1rem;
}

.signup-btn{
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 35px;
    border: none;
    cursor: pointer;
}

/* Header */

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.header .header-box{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-box img{
    width: 250px;
}

.header nav{
    width: 26%;
}

.header .header-box ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header .header-box ul li a{
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
}

/* Footer */

footer{
    background-color: #1F2937;
    padding: 2rem 0;
}

footer p{
    text-align: center;
    margin: 0;
}
